body {
    font-family: 'Arial', sans-serif;
    background-color: #f2f2f2;
    margin: 0;
}

header {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    color: white;
    margin: 0;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    gap: 20px;
}

.doctors {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px;
    gap: 20px;
}

.doctor-container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
    width: 300px;
    text-align: center;
}

.doctor-info {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.doctor-info img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
}

.doctor-details {
    text-align: left;
}

.doctor-details h2 {
    color: #333;
    margin-bottom: 5px;
}

.doctor-details p {
    color: #555;
    margin-bottom: 10px;
}

.appointment-menu {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 10px;
}

.appointment-menu h2 {
    color: #333;
    margin-bottom: 10px;
}

.appointment-menu form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.appointment-menu input,
.appointment-menu textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.appointment-menu button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.appointment-menu button:hover {
    background-color: #45a049;
}