


footer{

    color: #000000;

}
footer h3{
    text-align: center;
}

.footergrid{
    padding-top: 2px;
    padding-bottom: 2px;
    display: grid;
    justify-content: space-around;
    background-color: rgba(50, 202, 71, 0.87);
    height: 450px;
    grid-template-columns: 40% 18% 18% 18%;
    gap: 5px
}
iframe{

    width: 90%;
    height: 80%;
    margin: 1% 0% 0% 5%;

}
.about{
    text-align: justify;
}
.about .aboutcont{
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
.about a{
    color: #1d2e21;
    font-size: 18px;
    word-wrap: break-word;
}

.quicklinks ul{
    margin-left: -20px;
}
.quicklinks ul li{
    padding-bottom: 20px;
    text-align: justify;
    margin-right: 10px;
}
.quicklinks ul li a{
    color: #203c27;
    font-size: 20px;
    text-decoration: none;
    word-wrap: break-word;
}

.contacts ul{
    margin-left: -20px;
}
.contacts ul li{
    padding-bottom: 20px;
    text-align: justify;
    margin-right: 10px;
}
.contacts ul li a{
    color: #203c27;
    font-size: 20px;
    text-decoration: none;
    word-wrap: break-word;
}
.social{
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0px;
}
.social .button{
    overflow: hidden;
    position: relative;
    margin: 0px 15px 0px 15px;
    height: 30px;
    width: 30px;
    padding: 10px;
    border-radius: 100px;
    background-color: #3cda8b;
    transition: ease 0.5s;
}

.social .button::before{
    position: relative;
    content: '';

    left: 0px;
    top: -50px;
    height: 100%;
    background: linear-gradient(45deg, #ea6b34, #f4ad29, #fffb03);

}
.social .button:hover::before{
    width: 100%;
    position: absolute;
    transform: translateY(50px);
    transition: transform .4s ease-in-out;
}

.social:hover img{
    position: relative;
    z-index: 3;
}
.social .button img{
    max-width: 100%;
}