<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="ru">
<head>
    <meta charset="utf-8" name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/static/css/header.css" rel = "stylesheet">
    <link href = "/static/css/footer.css" rel = "stylesheet">
    <link href = "/static/css/appointments.css" rel = "stylesheet">
    <title>Запись к врачу</title>
</head>
<header class="header">
    <div class="container">
        <div class="header_body">
            <a href="/account" class="header_logo">
                <img src="/static/images/icon.png" alt="">
            </a>
            <div  class="notification">
                <img id="notes" src="/static/images/notes.png">
                <div class="notes">
                    <a href="" class="note">У вас нет новых уведомлений!</a>
                </div>
            </div>
            <div class="header_burger">
                <span> </span>
            </div>
            <nav class="header_menu">
                <ul class="header_list">
                    <li>
                        <a href="/appointment" class="header_link">Записаться к врачу</a>
                    </li>
                    <li>
                        <a href="/account" class="header_link">Профиль</a>
                    </li>
                    <li>
                        <a href="/allAppointments" class="header_link">История записей</a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</header>
<body>

<h1>Запись к врачу</h1>

<div class="doctors">
  <div class="doctor-container" data-doctor-id="1">
    <div class="doctor-info">
      <img src="/static/images/docOne.png" alt="Иван Иванов">
      <div class="doctor-details">
        <h2>Иван Иванов</h2>
        <p>Специальность: Терапевт</p>
      </div>
    </div>
    <div class="appointment-menu">
        <h2>Запись к Ивану Иванову</h2>
        <form action="/appointment/newapp" method="post">
          <input type="text" name="name" placeholder="Ваше имя" required>
          <input type="hidden" name="doctorId" value="Иван Иванов">
          <input type="hidden" name="specialty" value="Терапевт">
          <input type="date" name="date" placeholder="Дата приема" required>
          <input type="text" name="phone" placeholder="Ваш телефон" required>
          <textarea name="description" placeholder="Причина обращения" required></textarea>
          <button type="submit">Записаться</button>
        </form>
    </div>
  </div>
    <div class="doctor-container" data-doctor-id="2">
        <div class="doctor-info">
            <img src="/static/images/docTwo.png" alt="Доктор Айболит">
            <div class="doctor-details">
                <h2>Доктор Айболит</h2>
                <p>Специальность: Ветеринар</p>
            </div>
        </div>
        <div class="appointment-menu">
            <h2>Запись к Доктору Айболиту</h2>
            <form action="/appointment/newapp" method="post">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="hidden" name="doctorId" value="Доктор Айболит">
                <input type="hidden" name="specialty" value="Ветеринар">
                <input type="date" name="date" placeholder="Дата приема" required>
                <input type="text" name="phone" placeholder="Ваш телефон" required>
                <textarea name="description" placeholder="Причина обращения" required></textarea>
                <button type="submit">Записаться</button>
            </form>
        </div>
    </div>

    <div class="doctor-container" data-doctor-id="3">
        <div class="doctor-info">
            <img src="/static/images/docThree.png" alt="Тёмный врачеватель">
            <div class="doctor-details">
                <h2>Тёмный врачеватель</h2>
                <p>Специальность: Врачеватель чумы</p>
            </div>
        </div>
        <div class="appointment-menu">
            <h2>Запись к Тёмному врачевателю</h2>
            <form action="/appointment/newapp" method="post">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="hidden" name="doctorId" value="Тёмный врачеватель">
                <input type="hidden" name="specialty" value="Врачеватель чумы">
                <input type="date" name="date" placeholder="Дата приема" required>
                <input type="text" name="phone" placeholder="Ваш телефон" required>
                <textarea name="description" placeholder="Причина обращения" required></textarea>
                <button type="submit">Записаться</button>
            </form>
        </div>
    </div>

    <div class="doctor-container" data-doctor-id="4">
        <div class="doctor-info">
            <img src="/static/images/docFour.png" alt="Евгений Синсов">
            <div class="doctor-details">
                <h2>Евгений Синсов</h2>
                <p>Специальность: Семейный врач</p>
            </div>
        </div>
        <div class="appointment-menu">
            <h2>Запись к Евгению Синсову</h2>
            <form action="/appointment/newapp" method="post">
                <input type="text" name="name" placeholder="Ваше имя" required>
                <input type="hidden" name="doctorId" value="Евгений Синсов">
                <input type="hidden" name="specialty" value="Семейный врач">
                <input type="date" name="date" placeholder="Дата приема" required>
                <input type="text" name="phone" placeholder="Ваш телефон" required>
                <textarea name="description" placeholder="Причина обращения" required></textarea>
                <button type="submit">Записаться</button>
            </form>
        </div>
    </div>


</div>
</body>

<footer>
    <div class="footergrid">
        <div class="map">
            <h3>Я на карте</h3>
            <iframe id="mapitem" align="center" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1397.4722110950108!2d37.47584622082386!3d55.66090140137544!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b54d9fae388053%3A0xa621a3c9b87bb98f!2z0L_RgC4g0JLQtdGA0L3QsNC00YHQutC-0LPQviwg0JzQvtGB0LrQstCwLCAxMTk1NzE!5e0!3m2!1sru!2sru!4v1695835009242!5m2!1sru!2sru"></iframe>
        </div>
        <div class="about">
            <h3>Обо мне</h3>
            <div class="aboutcont">
                <a>
                    Меня зовут Царёв Георгий Дмитриевич. Я студент третьего курса РТУ МИРЭА по специальности 09.03.04, Программная инженерия.
                    Это приложение является моей курсовой работой по архитектуре клиент-серверных приложений
                    работа по этому предмету. По всем вопросам и предложениям писать мне в Telegram или ВКонтакте.
                </a>
            </div>

        </div>
        <div class="quicklinks">
            <h3>Ссылки</h3>
            <ul type="none" class="linkslist">
                <li><a href="">Регистрация</a></li>
                <li><a href="">Политика конфиденциальности</a></li>
                <li><a href="">Поддержать проект</a></li>
                <li><a href="">Помощь</a></li>
                <li><a href="">Прочее</a></li>
            </ul>

        </div>

        <div class="contacts">
            <h3>Контакты</h3>

            <ul type="none" class="cont">
                <li><img src="/static/images/map.png" width="20px" height="20px"><a>      Россия, город Москва, проспект Вернадского, дом 86, строение 1</a></li>
                <li><img src="/static/images/mail.png" width="20px" height="13.3px"><a href="mailto:georg.tsarev@mail.ru">     georg.tsarev@mail.ru</a></li>
                <li><img src="/static/images/phone.png" width="20px" height="20px"><a href="tel:+79208002004">    +7-920-800-20-04</a></li>
            </ul>
            <div class="social">
                <div class="button"><a href="https://vk.com/c0ffeed" target="_blank"><img src="/static/images/vk.png" ></a></div>
                <div class="button"><a href="https://t.me/Coffensive" target="_blank"><img src="/static/images/tg.png"></a></div>
                <div class="button"><a href="https://github.com/VermilionEye" target="_blank"><img src="/static/images/github.png"></a></div>
            </div>
        </div>
    </div>
</footer>

</html>
